<!DOCTYPE HTML>

<html>
	<head>
		<title>R.P.M</title>
		<meta charset="utf-8" />
                <meta name="theme-color" content="#1ABC9C" />
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="main.css">
	</head>
	<body class="is-preload">

		<!-- Header -->
		<br><br><br>
			<header id="header">
				<h1>Artificial Intelligence <br> to analyze the sound of an IC engine</h1> <br><br>
				<p>This is a beta project , you can check your engine's R.P.M by analysing engine sound <br></p>
			</header>

			<button type="button" onclick="init()" style="border-radius: 10px;max-width: 20vw;min-width: 20vw;">Start</button>
			<br><br><br>
			<div id="label-container"></div>
			<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.4.0/dist/speech-commands.min.js"></script>
			
			<script type="text/javascript">
				
				const URL = "https://teachablemachine.withgoogle.com/models/JYXi93bh4/";
			
				async function createModel() {
					const checkpointURL = URL + "model.json"; 
					const metadataURL = URL + "metadata.json";
			
					const recognizer = speechCommands.create(
						"BROWSER_FFT", 
						undefined,
						checkpointURL,
						metadataURL);
			
					await recognizer.ensureModelLoaded();
			
					return recognizer;
				}
			
				async function init() {
					const recognizer = await createModel();
					const classLabels = recognizer.wordLabels(); 
					const labelContainer = document.getElementById("label-container");
					for (let i = 0; i < classLabels.length; i++) {
						labelContainer.appendChild(document.createElement("div"));
					}
			
				
					recognizer.listen(result => {
						const scores = result.scores;
						
						if (result.scores[2] > 0.95) {
							labelContainer.childNodes[0].innerHTML = "<button>BACKGROUND NOICES</button>";
						}
						else if (result.scores[0] > 0.95) {
							labelContainer.childNodes[1].innerHTML = "<button>1000 - RPM</button>";
						}
						else if (result.scores[1] > 0.95) {
							labelContainer.childNodes[2].innerHTML = "<button>2000 - RPM</button>";
						}

					}, {
						includeSpectrogram: true, // in case listen should return result.spectrogram
						probabilityThreshold: 0.9,
						invokeCallbackOnNoiseAndUnknown: true,
						overlapFactor: 0.5 // probably want between 0.5 and 0.75. 
					});
			
					
				}
			</script>

		


			






		<!-- Scripts -->
			<script src="{{ url_for('static', filename='main.js') }}"></script>
			<script src="main.js"></script>

	</body>
</html>
